 {{!-- page title --}}
<br>
 {{#if isPlanner}}
    <h1 class="mb-3">Your Plans</h1>
    <p class='subtitle'>Plans from the groups you belong to.</p>
    <p>Select a plan to see its task list</p>
 {{/if}}

 {{#if isTask}}
    <h1 class="mb-3">Tasks For selected plan </h1>
    <p>Select a task to see its details</p>
 {{/if}}

 {{#if isSingleTask}}
    <h1 class="mb-3">Selected Task</h1>
    <p>Click the back button to go back or use the menu</p>
 {{/if}}

{{!-- page boby --}}

<ul>
  {{#if isPlanner}}
    {{#each items}}
      {{#each this.planner}}
      {{!-- href="/planner/getTasks?{{this.id}}" --}}
          <li><a data-id='{{this.id}}' class='plannerLink'>{{this.title}}</a></li>
      {{/each}}
    {{/each}}
  {{/if}}

  {{#if isTask}}
    {{#each items}}
      {{#each this}}
        <li><a href="/planner/getSingleTask?{{this.id}}">{{this.title}}</a></li>
      {{/each}}
    {{/each}}
  {{/if}}


  {{#if isSingleTask}}
  <div class="task_container">
    <div class="task__head task--row">
      <h1>{{title}}</h1> 
      <p>{{items.description}}</p>
    </div>
    <form action="">
        <div class="task__list">
          {{#each items.checklist}}
            <label for="{{items.id}}" class="task"><input class="task__check" type="checkbox" id="{{items.id}}" {{checkedOrNot this.isChecked}} /> <div class="task__field task--row"> {{this.title}} <button class="task__important"><i class="fa fa-check" aria-hidden="true"></i></button></div></label>
          {{/each}}
        </div>
        <div class="task--row task__footer">
            <input class="task__add" type="text" value="+ add new task">
        </div>
    </form>
  </div>
  {{/if}}

</ul>
